<!DOCTYPE html>
<html>
  <%- include('includes/head') %>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- The header is the topbar -->
      <%- include('includes/header') %>

      <!-- The sidebar includes the menu -->
      <%- include('includes/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Servers Selector</h1>
          <ol class="breadcrumb">
            <li class="active">
              <a href="/"><i class="fa fa-home"></i>Selector</a>
            </li>
          </ol>
        </section>

        <section class="content">
          <div class="row">
            <% 
              // separate the guilds with btn-block-success buttons from those with primary buttons
              const successGuilds = user.displayedGuilds.filter(guild => guild.settingsUrl.includes('discordapp.com') ? false : true);
              const primaryGuilds = user.displayedGuilds.filter(guild => guild.settingsUrl.includes('discordapp.com') ? true : false);
              
              // loop through successGuilds first, followed by primaryGuilds
              successGuilds.forEach(function(guild) { %>
                <!-- Displays 4 servers by line -->
                <div class="col-md-3">
                  <div class="box box-solid">
                    <div class="box-header with-border text-center">
                      <i class="fas fa-crown"></i>
                      <h3 class="box-title server-name"><%= guild.name %></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="text-center">
                        <img
                          src="<%= guild.iconURL %>"
                          style="border-radius: 100%"
                          width="100"
                          height="100"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <a href="<%= guild.settingsUrl %>"><button class="btn btn-block btn-success">Manage</button></a>
                    </div>
                    <!-- /.box-footer -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col -->
            <% }); 
              primaryGuilds.forEach(function(guild) { %>
                <!-- Displays 4 servers by line -->
                <div class="col-md-3">
                  <div class="box box-solid">
                    <div class="box-header with-border text-center">
                      <i class="fas fa-crown"></i>
                      <h3 class="box-title server-name"><%= guild.name %></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="text-center">
                        <img
                          src="<%= guild.iconURL %>"
                          style="border-radius: 100%"
                          width="100"
                          height="100"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <a href="<%= guild.settingsUrl %>"><button class="btn btn-block btn-primary">Invite</button></a>
                    </div>
                    <!-- /.box-footer -->
                  </div>
                  <!-- /.box -->
                </div>
                <!-- /.col -->
            <% }); %>
          </div>
        </section>
      </div>

      <!-- Footer includes credits and version -->
      <%- include('includes/footer') %>
    </div>
    <!-- ./wrapper -->
  </body>
</html>
